mat-stepper {
  background: transparent;
}

mat-card-header {
  margin-bottom: 1rem;
}

mat-card-title {
  margin-bottom: 0;
}

mat-card-actions {
  padding: 1rem 0 0;
}

mat-form-field {
  margin-bottom: 0.5rem;
}

textarea {
  resize: none;
}
