// Variables
// Brand Colors
$primary-color: #ff3f6c;
$primary-hover-color: #e91e63;
$secondary-color: #282c3f;
$text-primary: #282c3f;
$text-secondary: #535766;
$background-color: #f5f5f6;
$white: #ffffff;
$border-color: #d4d5d9;
$success-color: #03a685;
$error-color: #ff5722;
