<table class="table table-hover align-middle mb-0">
  <thead>
    <tr>
      @for (col of columns; track $index) {
        <th>{{ col.label }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (row of data; track row.id) {
      <tr>
        @for (col of columns; track $index) {
          <td>
            @if (col.isAction) {
              <button
                (click)="onRowChange(row.id, row.name, 'view')"
                class="btn btn-primary btn-sm"
              >
                View
              </button>

              <button
                (click)="onRowChange(row.id, row.name, 'edit')"
                class="btn btn-primary btn-sm ms-2"
              >
                Edit
              </button>

              <button
                (click)="onRowChange(row.id, row.name, 'delete')"
                class="btn btn-primary btn-sm ms-2"
              >
                Delete
              </button>
            } @else if (col.pipe === 'date') {
              {{ row[col.key] | date }}
            } @else if (col.pipe === 'currency') {
              {{ row[col.key] | currency: 'INR' }}
            } @else if (col.key === 'status') {
              <mat-form-field appearance="outline">
                <mat-select
                  [value]="row.statusId"
                  (selectionChange)="onRowChange(row.id, row.name, 'status-change', $event.value)"
                >
                  @for (status of orderStatuses; track status.id) {
                    <mat-option [value]="status.id">{{ status.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            } @else {
              {{ row[col.key] }}
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<!-- Material paginator starts index from 0, but our API's pageNumber starts from 1, so just do 'pageNumber - 1' -->
<mat-paginator
  [length]="totalRecords"
  [pageIndex]="pageNumber - 1"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 20, 50, 100, 200]"
  (page)="onPageChange($event)"
></mat-paginator>
